#Build
build-pkgs

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDE
.idea
cmake-build-*
*.txt.user

# Cache
.depends_cache

# Generated
app/qt/platform/macos/macos-info.plist
build/*
artifacts/*
transitive-args.cmake

####
# OpenWRT
*.o
*.so
*.a
*.internal
cmake_clean*.cmake
progress.make
depend.make
build.make
DependInfo.cmake
C.includecache
progress.marks
Makefile
link.txt
.built
.source_dir
.prepared
.quilt_checked
.configured*
transitive-args.cmake
install_manifest.txt
flags.make
cmake_install.cmake
CMakeCache.txt
**/CMakeFiles/**
**/depends/**
**/ipkg-install/**
**/CONTROL/**

#
#   Do not ignore
#
!service/linux/include/config
!src/common/include/common/config/**
